.contact {
	font-size: 32px;
	font-weight: 400;
}

.mapBlock {
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin-top: 60px;
	padding: 0 60px;
}

.contactInfo {
	text-align: start;
	width: 300px;
}

.contactInfoEach {
	margin-top: 26px;
	font-weight: 700;
}

.contactInfoEach p {
	margin-bottom: 6px;
}

.contactInfoEach a {
	color: black;
	transition: 0.2s ease-in-out;
}
.contactInfoEach a:hover {
	color: gold;
}
.map {
	width: 100%;
	height: 300px;
	border: 1px solid black;
}

@media (max-width: 1068px) {
	.mapBlock {
		flex-direction: column;
	}
	.contactInfo {
		margin-bottom: 36px;
	}
}

@media (max-width: 768px) {
	.mapBlock {
		margin-top: 20px;
		flex-direction: column;
		padding: 0;
	}
	.contactInfo {
		margin-bottom: 36px;
	}
}
