.headerMain {
	height: 50%;
	width: 100%;
	background: top / cover no-repeat url('../../../../assets/img/avto7.png')
		black;
	background-size: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
}
.navBlock {
	width: 90%;	
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0px;
	border: 1px solid antiquewhite;
	background-color: black;
}
.link {
	padding: 10px 0;
	color: antiquewhite;
}
.link:hover {
	color: gold;
}
.activeLink {
	color: cadetblue;
}
.homeSlider {
	margin-top: 50px;
	width: 70%;
	height: 100px;
}

@media (max-width: 1078px) {
	.headerMain {
		height: 36%;
		justify-content: end;
	}
	.navBlock {
		margin-bottom: 30px;
	}
	.homeSlider {
		display: none;
	}
}
@media (max-width: 756px) {
	.headerMain {
		background-size: 80%;
	}
}
@media (max-width: 568px) {
	.headerMain {
		background-size: 100%;
	}
}
@media (max-width: 320px) {
	.navBlock{
		flex-direction: column;
	}
}
