.servicesBlock {
	display: flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}

.title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 16px;
}
.image {
    width: 600px;
    height: 400px;
    background-color: white;
}

@media (max-width: 768px){
	.image{
		width: 300px;
		height: 270px;
	}
	.title  {
		font-size: 20px;
	}
}
